#contact {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

iframe {
  height: 60vh;
  width: 50vw;
  outline: black solid 1px;
  border: 0;
}

#site-info {
  text-align: center;
  margin-left: 100px;
  padding: 20px;
  border: 1px solid black;
  background-color: aliceblue;
}

#site-info p {
  font-size: 1.2rem;
}

@media all and (max-width: 1024px) {
  #contact {
    flex-direction: column-reverse;
    margin: 0;
    gap: 5rem;
  }

  #site-info {
    margin: auto;
    padding: 0;
    width: 90%;
  }

  iframe {
    width: 90%;
    margin: auto;
  }
}
