body {
  background-color: rgb(255, 223, 0);
}

#content {
  font-family: "Patrick Hand", cursive;
  caret-color: transparent;
}

#header-main {
  -webkit-text-stroke: 0;
  color: black;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  padding: 5px;
}

.title {
  margin-left: 40px;
}

.user {
  margin-left: auto;
  list-style: none;
}

.user li {
  float: left;
  padding: 0 10px;
  border-bottom: 2px solid transparent;
}

.user li:hover {
  border-bottom: 2px solid orange;
  transform: translateY(-2px);
  cursor: pointer;
}

.user:last-child {
  margin-right: 50px;
}

@media all and (max-width: 550px) {
  #header-main {
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  .title {
    margin: 0;
    margin: auto 0;
  }

  .user {
    display: flex;
    flex-direction: column;
  }

  .user:last-child {
    margin: 0;
  }
}
