#pic-slogan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.berry {
  margin: 0 30px;
  width: auto;
  height: 60vh;
  filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px 2px 0 black)
    drop-shadow(2px -2px 0 black) drop-shadow(-2px -2px 0 black);
}

.slogan {
  font-size: 8vh;
  text-align: center;
}

.slogan p:nth-child(2) {
  background-color: black;
  color: orange;
}
